body {
    display: flex;
    /* Устанавливает тип отображения элемента как flex */
    justify-content: center;
    /* Выравнивает дочерние элементы по центру по горизонтали */
    align-items: center;
    /* Выравнивает дочерние элементы по центру по вертикали */
    height: 100vh;
    /* Устанавливает высоту элемента равной 100% высоты окна просмотра */
    background-color: #f0f0f0;
    /* Устанавливает цвет фона элемента на светло-серый */
}

.field {
    justify-content: center;
    /* Выравнивает дочерние элементы по центру по горизонтали */
    display: flex;
    /* Устанавливает тип отображения элемента как flex */
    flex-wrap: nowrap;
    /* Предотвращает перенос дочерних элементов на новую строку */
    width: 250px;
    height: 150px;
    gap: 10px;
    /* Устанавливает расстояние между дочерними элементами */
}


.digit {
    display: flex;
    /* Устанавливает тип отображения элемента как flex */
    flex-wrap: wrap;
    /* Позволяет дочерним элементам переноситься на новую строку */
    width: 100px;
    height: 150px;
    gap: 1px;
    /* Устанавливает расстояние между дочерними элементами */
}


.block {
    width: 30px;
    height: 30px;
    background-color: #333;
}


.empty {
    opacity: 0;
    /*прозрачность элемента на 0, делая его невидимым */
}