$background-color: rgb(234, 234, 234);
$rectangle-background-color: white;
$icon-max-width: 3%;
$icon-max-height: 3%;
$text-font-size: 24px;
$text-font-family: 'Times New Roman', Times, serif;
$input-padding-top: 2%; 
$input-padding-left: 2%; 
$input-width: 90%;
$podpis-font-size: 11px;
$podpis-font-family: 'Calibri', sans-serif;
$input-field-margin-top: 2%; 
$input-field-width: 90%;
$input-field-height: 40px;
$next-background-color: blue;
$next-color: white;
$error-color: red;
$error-font-size: 8px;
$error-field-border: 2px solid red;
$error-field-color: red;
