/* Стили для тега body */
body {
    display: grid;
    /* Устанавливает тип отображения элемента как grid */
    place-items: center;
    /* Выравнивает дочерние элементы по центру как по горизонтали, так и по вертикали */
    height: 100vh;
    /* Устанавливает высоту элемента равной 100% высоты окна просмотра */
    background-color: #f0f0f0;
    /* Устанавливает цвет фона элемента на светло-серый */
}

/* это поле со всеми цифрами*/
.field {
    justify-content: center;
    /* Выравнивает дочерние элементы по центру по горизонтали */
    display: flex;
    /* Устанавливает тип отображения элемента как flex */
    flex-wrap: nowrap;
    /* Предотвращает перенос дочерних элементов на новую строку */
    width: 250px;
    height: 150px;
    gap: 10px;
    /* Устанавливает расстояние между дочерними элементами */
}

/* это поле с цифрой */
.digit {
    display: grid;
    /* Устанавливает тип отображения элемента как grid */
    grid-template-columns: repeat(3, 30px);
    /* Создает три колонки с шириной 30px каждая */
    grid-template-rows: repeat(5, 30px);
    /* Создает пять строк с высотой 30px каждая */
    gap: 1px;
    /* Устанавливает расстояние между дочерними элементами */
}


.block {
    background-color: #333;
}

.empty {
    opacity: 0;
    /* Устанавливает прозрачность элемента на 0, делая его невидимым */
}